body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#spectrogram {
    width: 100vw;
}

#spectrogram > canvas {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 50px;
    display: block;
    position: absolute;
    overflow: hidden;
}

#info {
    position: absolute;
    bottom: 0;
    height: 30px;
    font-size: 32px;
    color: #ffffff;
    text-align: center;
    display: table;
    width: 100vw;
    padding: 1em;
    font-family: monospace;
    box-sizing: border-box;
}

#buffer-info, #frequency-info, #control {
    display: table-cell;
    width: 33%;
}

#buffer-info {
    text-align: left;
}

#frequency-info {
    text-align: right;
    cursor: ns-resize;
}